.parentContainer {
    display: flex;
    justify-content: space-around;
    font-weight: 200px;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #313131;
    color: white;
}

.NavBar{
    margin-left: 21%;
}

.NavBar div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.iconText {
    font-size: 10px;
    font-weight: 900px;
}
